.backgroundc{
    background-color: #c3bcb4;
    margin-left: 0px;
    padding: 30px;
}
.headerc{
    margin-left: 20px;
    margin-top: 100px;
}
.cards {
    height: 180px;
    width: 800px;
    margin-bottom: 30px;
    background:rgb(187, 150, 150);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cards:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#d7cfcf, #9198e5);
}

.cards:hover>.img {
    transition: 0.5s ease-in-out;
    background: linear-gradient(#9198e5, #712020);
}

.textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;

}

.textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.span {
    font-size: 10px;
}

.h1 {
    font-size: 16px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.p {
    font-size: 16px;
}